{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mb-4 mb-md-0 col-md-6">
        <div class="single-product-slider">
          {{ range .Params.Images }}
          <div data-image="{{ . | absURL }}">
            <img class="img-fluid w-100" src="{{ . | absURL }}" alt="product-img">
          </div>
          {{ end }}
          {{ if eq (len .Params.Images) 1}}
          <style>
            .slick-dots {
              display: none !important;
            }
          </style>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1 col-md-6">
        <h2>{{ .Title }}</h2>
        <div class="price my-4">
          {{if .Params.discount_price}}<span>{{site.Params.snipcart.currency}}{{.Params.discount_price}}</span><s class="ml-2">{{site.Params.snipcart.currency}}{{.Params.price}}</s>
          {{else}}<span>{{site.Params.snipcart.currency}}{{.Params.price}}</span>{{end}}
        </div>
        <div class="content">{{ .Content }}</div>
        <button class="snipcart-add-item btn btn-primary mt-lg-5 md-3"
          data-item-id="{{.Title | anchorize}}" data-item-name="{{.Title}}"
          data-item-image="{{with .Params.Images}}{{range first 1 .}}{{. | absURL}}{{end}}{{end}}"
          data-item-price="{{.Params.Price}}" data-item-url="{{.Permalink}}"
          data-item-description="{{.Params.Description | markdownify}}">
          Add to cart
        </button>
      </div>
    </div>
  </div>
</section>

{{ end }}